@charset "UTF-8";

:root {
    --width: 800px;
    --height: calc(var(--width) * 0.618);
}

#paint {
    border: 2px solid #eee;
    width: var(--width);
    height: var(--height);
}

#svg {
    float: right;
    height: 100px;
    width: 100px;
    border: 2px solid #fe0;
}